
aside {
  & img {
    width: 18.4vmax;
    height: 15vmax;
    margin-right: -2px;
    margin-left: -2px;
    border-right: 6px solid $main-color;
    transform: skewX(-15deg) translateX(-11%);
  }
}

.about {
  & img {
    display: block;
    max-width: 100%;
    @extend %center;

  }
}

.sub-heading {
  & img {
    margin: 1em;
  }
}
