#nav-icon {
  display: inline-block;
  cursor: pointer;
  @extend %center;
  margin: 5px;
  margin-right: 5px;
  position: fixed;
  top: 1em;
  right: 10px;
  background-color: $main-color;
  padding: 10px;
  border-radius: 50%;

}

nav {
  width: 10em;
  height: 100%;
  position: fixed;
  background-color: $black-variant;
  right: 0px;
  top: 0px;
  transform: translateX(100%);
  & ul {
    padding: 0;
  }
  & li {
    cursor: pointer;
    padding: .5em;
    margin: .5em;
    text-align: center;
    & a {
      @include link-reset($white);
    }
  }
}
